<template name="postsList">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="hidden-phone span2 posts">
        <h3>New</h3>
        {{#each postsWithRank}}
          {{> postItem}}
        {{/each}}
        {{#if hasMorePosts}}
           <a class="load-more" href="{{nextPath}}">Load more</a>
         {{/if}}
      </div>
      <div class="span10 currentPost">
        {{#if randomPost}}
          {{#with randomPost}}
            {{> postPage }}
          {{/with}}
        {{else}}
          {{> loading}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

